[Unit]
Description=Run WOW community template daily incremental sync

[Timer]
OnBootSec=12min
OnCalendar=*-*-* 06:15:00
RandomizedDelaySec=30min
Persistent=true

[Install]
WantedBy=timers.target
