[Unit]
Description=Schedule Chickenbro source refresh

[Timer]
OnBootSec=15min
OnUnitActiveSec=4h
RandomizedDelaySec=15min
Persistent=true
Unit=wow-chickenbro-source-refresh.service

[Install]
WantedBy=timers.target
